# görseller
# videolar
# logolar
# paket yöneticisi ile kurulmuş dosyalar

# VsCode (İnternetten bulunabilir)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


# img
*.jpg
logo.jpg 
img/

# Css
css/style.css
# packages
js/test.js
# log

password.txt
index2.html